body{
    background-image: url("https://picsum.photos/id/173/2000/1000");
    display:flex;
    justify-content:center; 
    align-items: center;
    padding: top 5px;

}

#trafficTop{
    width: 20px;
    height: 188px;
    background-color:#011627;
    margin-top: 52px;
    display:flex;
    justify-content:center;
    margin: auto;


}
#container {
    background-color:#011627;
    width: 100px; 
    height: 300px;
    display:flex; 
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;

}

.redLight{
    height: 60px; 
    width:60px;
    border-radius :50px;
    background:red;

}
.yellowLight{
    height: 60px; 
    width:60px;
    border-radius :50px;
    background:yellow;

}
.greenLight{
    height: 60px; 
    width:60px;
    border-radius :50px;
    background:green;

}

.active{
    -webKit-box-shadow: 1px 1px 0px rgba(232, 225, 225, 0.944);/*For webKit browsers*/
    -moz-box-shadow: 1px 1px 0px rgba(232, 225, 225, 0.944);/*For Firefox*/
    box-shadow: 5px 5px 5px#ffffff;
}
